@{
    ViewBag.Title = "Car Finder";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
<!-- Widget -->
<div class="widget">
    <div class="widget-header">
        Car Finder
    </div>
    <div class="widget-body">
        <fieldset>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group AlertField">
                        <div>
                            <label class="control-label">Vehicle </label>
                            <!-- Use a simple <select> element -->
                            <select id="ddlMake" class="select2 form-control" onchange="GetTableData()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group AlertField">
                        <div>
                            <label class="control-label">Vehicle Type</label>
                            <!-- Use a simple <select> element -->
                            <select id="ddlVehicleType" class="select2 form-control" onchange="GetTableData()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                <div class="form-group">
                    <label for="exampleInputEmail1">Year</label>
                    <input type="text" class="form-control yearpicker" id="Year" placeholder="Select a Year " onchange="GetTableData()">
                 </div>
                     
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- Space between widget and table -->
<div class="table-spacing">
    <table id="tbl_Data" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="hasinput" style="width:10%">
                    <div class="input-group">
                        <input class="form-control" placeholder="Number" type="text" />
                    </div>
                </th>
                <th class="hasinput" style="width:24%">
                    <input type="text" class="form-control" placeholder="Name" />
                </th>
                <th class="hasinput" style="width:12%">
                    <input type="text" class="form-control" placeholder="Model" />
                </th>
            </tr>
            <tr>
                <th>Vehicle Code</th>
                <th>Vehicle Name</th>
                <th>Vechicle Model</th>
            </tr>
        </thead>
        <tbody>
         </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
 

 
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function () {

        var responsiveHelper_tbl_Data = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
         $("#Year").yearpicker({
            startYear: 1980,
            endYear: new Date().getFullYear(), 
            year: new Date().getFullYear()
        });

         $('#ddlMake').select2({
            placeholder: 'Select a car make',
            allowClear: true,
            width: '100%',
            ajax: {
                url: '@Url.Action("GetCarMakes", "Home")',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term || '',
                        page: params.page || 1         
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results,  
                        pagination: {
                            more: data.pagination.more 
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 0, 
            minimumResultsForSearch: 1, 
        });

        $('#ddlMake').on('change', function () {
            var selectedMakeID = $(this).val();
            if (selectedMakeID) {
                GetVehicleTypes(selectedMakeID);  // Call function to get vehicle types
            } else {
                $('#ddlVehicleType').html('<option value="">Select a vehicle type</option>');
            }
        });

        var otable = $('#tbl_Data').DataTable({
           
            aoColumns: [
                { mData: 'makeID' },
                { mData: 'makeName' },
                { mData: 'model' },
             ],
          
          
            "order": [[1, "desc"]],
            dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' + // Add Bootstrap layout
                '<"row"<"col-sm-12"tr>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                paginate: {
                    next: '›', // Custom next icon
                    previous: '‹' // Custom previous icon
                },
            },
            lengthMenu: [5, 10, 25], // Pagination options
            pageLength: 5, // Default page size,
            "autoWidth": true,
         

        });
         $('#tbl_Data tbody').on('click', '.hidden-delete', function () {
            var nRow = $(this).parents('tr')[0];
            otable.row(nRow).remove().draw(false);
        });
 
        // Apply the filter
        $("#tbl_Data thead th input[type=text]").on('keyup change', function () {
            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

        $("#Year").change(function() {
            GetTableData();
        })
    });


    function GetTableData()  
    
    { 
        var MakeID = $("#ddlMake").val()||-1; 
        var Year = $("#Year").val() || -1;
        var VehicleType = $("#ddlVehicleType").val() || -1;

        if (MakeID == -1 || Year == -1 || VehicleType==-1) {
            return false;
        }
        $.ajax({
            url: '@Url.Action("GetCars", "Home")',
            dataType: 'json',
            data: { MakeID: MakeID, Year: Year },
            success: function (data) {
                $('#tbl_Data').dataTable().fnClearTable();

                if (data.length > 0) {
                    $('#tbl_Data').dataTable().fnAddData(data);

                    

                }
            },
            error: function (data) {
           }
        });

      
    }

    // Function to fetch vehicle types based on selected MakeID
    function GetVehicleTypes(MakeID) {
        $.ajax({
            url: '@Url.Action("GetVehicleTypeByMakeID", "Home")',
            type: 'GET',
            dataType: 'json',
            data: { MakeID: MakeID },
            success: function (data) {
                $('#ddlVehicleType').html(''); // Clear the dropdown before appending new options
                if (data.length > 0) {
                    $('#ddlVehicleType').append('<option value="">Select</option>');
                    $.each(data, function (i, item) {
                        $('#ddlVehicleType').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                } else {
                    $('#ddlVehicleType').append('<option value="">No vehicle types available</option>');
                }
            },
            error: function () {
                $('#ddlVehicleType').html('<option value="">Error fetching vehicle types</option>');
            }
        });
    }

</script>
